* {
  margin: 0;
  padding: 0;
}

body {
  color: #444;
  font-family: "Inter", sans-serif;
  width: 70%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
}

.block-1 {
  background-color: #fff0f5;
  width: 40%;
  border-radius: 12px;
  border: solid 2px #ea7070;
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.07);
}

.block-2 {
  background-color: hwb(0 98% 0%);
  width: 50%;
  border-radius: 12px;
  border: solid 2px #ea7070;
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.07);
}

.name {
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: center;
  margin-bottom: 20px;
}

.author-photo {
  border-radius: 50%;
  width: 110px;
  height: 100px;
  border: solid 2px #ea7070;
  margin-bottom: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.07);
}

a:link {
  color: #ea7070;
  text-decoration: none;
}
a:visited {
  color: #ea7070;
}

a:hover {
  color: #ea7070;
  font-weight: bold;
  text-decoration: underline #ea7070;
}

a:active {
  background-color: black;
  font-style: italic;
}

h2 {
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: center;
  margin: 20px;
}

h3 {
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

ul {
  margin-left: 30px;
  margin-bottom: 30px;
  font-size: large;
}

p {
  margin-bottom: 20px;
  margin-left: 7px;
  margin-right: 7px;
  text-align: justify;
  line-height: 1.3;
  padding-left: 5px;
  padding-right: 5px;
  font-size: large;
}

footer {
  background-color: #fdc4b6;
  border-radius: 12px;
  border: solid 2px #ea7070;
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.07);
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  align-items: center;
}

footer p {
  color: #ea7070;
  padding-top: 19px;
}

.rss-logo {
  width: 10%;
  padding-right: 20px;
}
